<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longd.map.MapMapper">
	
	<select id="list" resultType="com.longd.map.MapVO" parameterType="com.longd.map.MapVO">
		SELECT *, 
			(SELECT content FROM map_content WHERE map_no = a.map_no) AS content
		FROM map as a
		WHERE user_no = #{user_no} AND group_no = #{group_no}
		<if test="address != null and address != ''">
			AND address LIKE '%${address}%'
			<if test="address2 != null and address2 != ''">
			or address LIKE '%${address2}%'
			</if> 
		</if>
	</select>
	
	<select id="mapList" resultType="com.longd.map.MapVO" parameterType="com.longd.map.MapVO">
		SELECT *, 
			(SELECT content FROM map_content WHERE map_no = a.map_no) AS content
		FROM map as a
		WHERE user_no = #{user_no} AND group_no = #{group_no}
		ORDER BY creationtime DESC
		LIMIT  ${startIdx},${pageRow};
	</select>
	
	<select id="fileList" parameterType="com.longd.map.MapVO" resultType="com.longd.map.MapVO">
		SELECT * FROM map_file
	</select>
	
	
	<select id="mapListcount" resultType="int" parameterType="com.longd.map.MapVO">
		SELECT COUNT(*) FROM map;
	</select>
	
	<select id="write" resultType="com.longd.map.MapVO" parameterType="com.longd.map.MapVO">
		SELECT * FROM map WHERE map_no = #{map_no}
	</select>
	
	<insert id="insertContent" parameterType="com.longd.map.MapVO"  >
		INSERT INTO map_content (
			 map_no
			 , user_no
			 , content
			 , regdate
			 ) 
		VALUES (
			#{map_no}
			, #{user_no}
			, #{content}
			, NOW()
		)
		<selectKey keyProperty="content_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()			
		</selectKey>
	</insert>
	
	
	<insert id="insertFile" parameterType="com.longd.map.MapVO"  >
		INSERT INTO map_file (
			filename_org
			, filename_real
			, map_no
			, content_no
			, user_no
			, group_no
		) VALUES (
		 	#{filename_org}
			, #{filename_real}
			, #{map_no}
			, #{content_no}
			, #{user_no}
			, #{group_no}
		)
	</insert>
	
	<select id="content" resultType="com.longd.map.MapVO" parameterType="com.longd.map.MapVO">
		SELECT * FROM map_content WHERE map_no = #{map_no}
	</select>
	
	<select id="contentFile" resultType="com.longd.map.MapVO" parameterType="com.longd.map.MapVO">
		SELECT * FROM map_file WHERE map_no = #{map_no}
	</select>
	
	<delete id="deleteFile">
		DELETE FROM map_file WHERE filename_real = #{filename_real} AND file_no = #{file_no}
	</delete>
	
	<update id="update">
		UPDATE map_content SET content = #{content}, regdate = NOW() WHERE map_no = #{map_no}
	</update>
	
	<update id="updateFile">
		UPDATE map_file SET filename_org = #{filename_org}, filename_real = #{filename_real} WHERE map_no = #{map_no}
	</update>
	
	
	<insert id="insertMap" parameterType="com.longd.map.MapVO">
		INSERT INTO map (
			px
			, py
			, name
			, displayName
			, address
			, creationTime
			, user_no
			, marker
			, group_no
		)
		VALUES (
			#{px}
			, #{py}
			, #{displayName}
			, #{displayName}
			, #{address}
			, NOW()
			, #{user_no}
			, #{marker}
			, #{group_no}
		)
		<selectKey keyProperty="map_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()			
		</selectKey>
	</insert>
	
	
	<select id="checkMap" resultType="int" parameterType="com.longd.map.MapVO">
		SELECT count(*) FROM map WHERE px = #{px} AND py = #{py} OR name LIKE '%${name}%'
	</select>
	
	
	<select id="maptotal" parameterType="com.longd.map.MapVO"  resultType="com.longd.map.MapVO">
		SELECT count(*) AS totalcount,
			(SELECT count(*) FROM longd.map where address like '%강원%' ) AS dlist_1,
			(SELECT count(*) FROM longd.map where address like '%경기%') AS dlist_2,
			(SELECT count(*) FROM longd.map where address like '%경상남도%' or address like '%경남%') AS dlist_3,
			(SELECT count(*) FROM longd.map where address like '%경상북도%' or address like '%경북%') AS dlist_4,
			(SELECT count(*) FROM longd.map where address like '%광주광역시%' or address like '%광주%' ) AS dlist_5,
			(SELECT count(*) FROM longd.map where address like '%대구광역시%' or address like '%대구%' ) AS dlist_6,
			(SELECT count(*) FROM longd.map where address like '%대전광역시%' or address like '%대전%' ) AS dlist_7,
			(SELECT count(*) FROM longd.map where address like '%부산광역시%' or address like '%부산%' ) AS dlist_8,
			(SELECT count(*) FROM longd.map where address like '%서울특별시%' or address like '%서울%' ) AS dlist_9,
			(SELECT count(*) FROM longd.map where address like '%인천광역시%' or address like '%인천%' ) AS dlist_10,
			(SELECT count(*) FROM longd.map where address like '%세종특별자치시%' or address like '%세종%') AS dlist_11,
			(SELECT count(*) FROM longd.map where address like '%울산광역시%' or address like '%울산%' ) AS dlist_12,
			(SELECT count(*) FROM longd.map where address like '%전라남도%' or address like '%전남%' ) AS dlist_13,
			(SELECT count(*) FROM longd.map where address like '%전라북도%' or address like '%전북%' ) AS dlist_14,
			(SELECT count(*) FROM longd.map where address like '%제주특별자치도%' or address like '%제주%' ) AS dlist_15,
			(SELECT count(*) FROM longd.map where address like '%충청남도%' or address like '%충남%' ) AS dlist_16,
			(SELECT count(*) FROM longd.map where address like '%충청북도%' or address like '%충북%' ) AS dlist_17
		FROM map
		WHERE user_no = #{user_no}
	</select>	
	
	<select id="dislist" resultType="com.longd.map.MapVO" >
		SELECT * FROM district
	</select>
	
	
</mapper>