<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longd.group.GroupMapper">
	
	
	<select id="listgroup" parameterType="com.longd.group.GroupVO" resultType="com.longd.group.GroupVO">
		SELECT * FROM longd.group_member 
		WHERE user_no = #{user_no}
		ORDER BY group_member_regdate DESC
		LIMIT  ${startIdx},${pageRow}
	</select>
	
	<select id="countGroup" parameterType="com.longd.group.GroupVO" resultType="java.lang.Integer">
		SELECT count(*) FROM longd.group_member 
		WHERE user_no = #{user_no}
	</select>
	
	<select id="checkgroup" parameterType="com.longd.group.GroupVO" resultType="java.lang.Integer">
		SELECT count(*) FROM longd.group WHERE group_name = #{group_name}
	</select>

	<select id="searchMember" parameterType="com.longd.group.GroupVO" resultType="java.lang.Integer">
		SELECT count(*) FROM user WHERE nick = #{nick}
	</select>
	
	<insert id="insertgroup" parameterType="com.longd.group.GroupVO" >
		INSERT INTO longd.group 
			(
			group_name
			, user_no
			, group_check
		) 
		VALUES (
			#{group_name}
			, #{user_no}
			, 0
		)
	</insert>
	
	<insert id="insertMember" parameterType="com.longd.group.GroupVO" >
		INSERT INTO longd.group_member 
			(
			user_no
			, group_name
			, mem_check
		) 
		VALUES (
		 	#{user_no}
		 	, #{group_name}
		 	, 0
		 )
	</insert>	
	
	
</mapper>